// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
  color: white;
  background-color: rgb(51, 151, 219);
  font-size: 40px;
  padding: 20px 0;
}
.games-container {
  margin: 16px 30px ;
}
